*{
    margin : 0;
    padding : 0;
}
header{
    background-color: blueviolet;
    list-style: none;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include medidas;
    li{
        font-size: 20px;
        a{
            color: $colorfuente;
            text-decoration: none;
            &:hover{
                color: $colorfuente;
                text-decoration: underline;
            }
        }
    }
}
